*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

:root{
  --text-color: #c3a619;
  --bg-color: #000000;
  --main-color: #f3eeea;

  --h1-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1rem;
}

body{
  color: var(--main-color);
  background: var(--bg-color);
}

header{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  background: transparent;
  padding: 27px 17%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .50s ease;
}

.logo{
  font-size: 33px;
  color: var(--main-color);
  font-weight: 700;
}

span{
  color: var(--text-color);
}

.navbar{
  display: flex;
}

.navbar a{
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 500;
  margin: 15px 20px;
  transition: all .50s ease;
}

.navbar a:hover{
  color: var(--main-color);
}

.h-right{
  display: flex;
  align-items: center;
}

.h-right a:first-child{
  color: var(--main-color);
  font-size: var(--p-font);
  margin-right: 20px;
}

.h-right a{
  vertical-align: middle;
  font-size: 20px;
  color: var(--main-color);
  margin-right: 18px;
  margin-left: 5px;
  transition: all .50s ease;
}

.h-right a:hover{
  color: var(--main-color);
  transform: translateY(-3px);
}

#menu-icon{
  color: var(--main-color);
  font-size: 30px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

section{
  padding: 70px 17% 60px;
}

.home{
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to left, rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/header\ \(1\).jpg);
  background-size: cover;
  background-position: bottom center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home-text h5{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 75px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--text-color);
}

.home-text h1{
  font-size:  4rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
}

.home-text p{
  font-size: var(--p-font);
  font-weight: 500;
  line-height: 30px;
  color: #ffffffab;
  margin-bottom: 35px;
}

.btn {
  display: inline-block;
  padding: 13px 40px;
  background: var(--text-color);
  color: var(--bg-color);
  font-size: 15px;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all .50s ease;
  cursor: pointer;
}

.btn:hover{
  transform: translateX(10px);
  border: 2px solid var(--main-color);
  background: transparent;
  color: var(--main-color);
}

header.sticky{
  padding: 8px ;
  background: transparent;
  backdrop-filter: blur(35px);
}

.feature-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  text-align: center;
  gap: 3rem;
}

.row-img{
  overflow:hidden;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.row-img img{
  width: 100%;
  display: block;
  transition: transform 0.7s;
}

.row-img img:hover{
  transform: scale(1.2);
}

.feature-content h4{
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all .50s ease;
}

.feature-content h4:hover{
  color: var(--text-color);
}

.holiday{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 6rem;
}

.holiday-img img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.holiday-text h5{
  font-size: 22px;
  font-weight: 600;
  color: var(--main-color);
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 20px;
}

.holiday-text h2{
  font-size: var(--h2-font);
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 25px;
}

.holiday-text p{
  font-size: var(--p-font);
  font-weight: 500;
  line-height: 30px;
  color: #ffffffab;
  margin-bottom: 30px;
}

.center-text{
  text-align: center; 
}

.center-text h2{
  font-size: var(--h2-font);
  font-weight: 800;
}

.tour-content{
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(250px, auto));
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.box{
  position: relative;
}

.box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(70%);
  transition: all .3s cubic-bezier(.499,.05,.55,.95);
  will-change: filter;
  display: block;
}

.box h6{
  position: absolute;
  left: 25px;
  bottom: 95px;
  font-size: 18px;
  font-weight: 500;
}


.box h4{
  position: absolute;
  left: 25px;
  bottom: 65px;
  font-size: 20px;
  font-weight: 700;
}

.box img:hover{
  filter: brightness(90%) hue-rotate(10deg);
  transform: scale(1.04);
  cursor: pointer;
}

.center-btn{
  text-align: center;
  margin-top: 4rem;
}


.culture{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 6rem;
}

.culture-img img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.culture-text h5{
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 20px;
}

.culture-text h2{
  font-size: var(--h2-font);
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 25px;
}

.culture-text p{
  font-size: var(--p-font);
  font-weight: 500;
  line-height: 30px;
  color: #ffffffab;
  margin-bottom: 30px;
}

.newsletter-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 2rem;
}

.newsletter-text h2{
  font-size: var(--h2-font);
  font-weight: 800;
  margin-bottom: 15px;
}

.newsletter-text p{
  font-size: var(--p-font);
  font-weight: 500;
  color: #ffffffab;
}

.newsletter-content form{
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  gap: 1rem;
}

.newsletter-content form input:first-child{
  padding: 15px;
  background: #202020;
  font-size: var(--p-font);
  color: var(--main-color);
  border-radius: 5px;
}



.contact-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 2rem;
}

.contact-text h2{
  font-size: var(--h2-font);
  font-weight: 800;
  margin-bottom: 15px;
}

.contact-text p{
  font-size: var(--p-font);
  font-weight: 500;
  color: #ffffffab;
}

.contact_col{
  display: grid;
  margin-left: 100px;
  grid-template-columns: 1fr 0.4fr;
}

.contact_col p{
  font-size: var(--p-font);
  font-weight: 500;
  color: #ffffffab;
}

.col-sub {
  background-color: #222323;
  color: white;
  border-radius: 50px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.col-sub:hover {
  background-color: #404041;
}

.col-sub span {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
}

.col-sub h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.col-sub h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

.col-sub p {
  font-size: 14px;
  margin-bottom: 0;
}


.footer{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, auto));
  gap: 2rem;
}

.footer-box{
  display: grid;
  flex-direction: column;
}

.footer-box h3{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-box a{
  color: #979797;
  margin-bottom: 0.8rem;
  transition: all .50s ease;

}

.footer-box a:hover{
  transform: translateX(-5px);
  color: var(--main-color);
}

.social a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  background: #202020;
  color: var(--main-color);
  font-size: 20px;
  border-radius: 50%;
  margin-right: 8px;
  transition: transform 0.6s;
}

.social a:hover{
  background: var(--text-color);
  color: var(--bg-color);
  transform: translateX(-4px);
}

.copyright{
  text-align: center;
  padding: 20px;
  color: #979797;
  font-size: 15px;
}

@media (max-width: 1700px){
  header{
    padding: 18px 8%;
  }
  header.sticky{
    padding: 7px 8%;
  }
  section{
    padding: 50px 8% 40px;
  }
}

@media (max-width: 1200px){
  header{
    padding: 14px 5%;
  }
  header.sticky{
    padding: 7px 5%;
  }
  section{
    padding: 45px 5% 35px;
  }
  :root{
    --h1-font: 4.6rem;
    --h2-font:2.8rem;
    --p-font:15px;
  }
  .home{
    height: 90vh;
  }
}


@media (max-width: 1050px){
  .feature-content{
    gap: 1.5rem;
  }  
  .holiday{
    gap: 3rem;
  }
  .culture{
    gap: 3rem;
  }  

  #menu-icon{
    display: block;
  }

  .navbar{
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 40px 60px;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    transition: all .50s ease;

  }
  .navbar a{
    display: block;
    color: #979797;
    padding: 0;
    margin: 0px 0px 40px 0px;
    font-size: 2.2rem;
    font-weight: 400;
  }

  .navbar.open{
   left: 0; 
  }
}

@media (max-width: 800px){
  .holiday{
    grid-template-columns: 1fr;
  }
  .culture{
    grid-template-columns: 1fr;
  }
  .newsletter-content{
    grid-template-columns: 1fr;
  }
  .contact-content{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px){
  :root{
    --h1-font: 3.5rem;
    --h2-font: 2.1rem;
  }
  .home{
    height: 85vh;
  }
}

@media (max-width: 450px){
  header{
    padding: 12px 3%;
  }
  header.sticky{
    padding: 7px 3%;
  }
  section{
    padding: 60px 3% 50px;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #6e5d34;
  font-size: 26px;
}
.app-title p {
 font-size: 0.8rem; 
 color: #8e8888;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #e6e5ee;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.message.select-group {
  display: flex;
  justify-content: space-between;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  /* text-transform: uppercase; */
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control option {
  background-color: #0c0b19;
  color: #f0f0f0;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #e4e3e8;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: var(--text-color);
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}


