*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
  }
  
  :root{
    --text-color: #1968c3;
    --bg-color:  #f0f8ff;
    --main-color: #000000;
  
    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;
  }
  
  body{
    color: var(--main-color);
    background: var(--bg-color);
  }
  
  header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
  }
  
  .logo{
    font-size: 33px;
    color: var(--main-color);
    font-weight: 700;
  }
  
  span{
    color: var(--text-color);
  }
  
  .navbar{
    display: flex;
  }
  
  .navbar a{
    color: var(--main-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 15px 20px;
    transition: all .50s ease;
  }
  
  .navbar a:hover{
    color: var(--main-color);
  }
  
  .h-right{
    display: flex;
    align-items: center;
  }
  
  .h-right a:first-child{
    color: var(--main-color);
    font-size: var(--p-font);
    margin-right: 20px;
  }
  
  .h-right a{
    vertical-align: middle;
    font-size: 20px;
    color: var(--main-color);
    margin-right: 18px;
    margin-left: 5px;
    transition: all .50s ease;
  }
  
  .h-right a:hover{
    color: var(--main-color);
    transform: translateY(-3px);
  }
  
  #menu-icon{
    color: var(--main-color);
    font-size: 30px;
    cursor: pointer;
    z-index: 10001;
    display: none;
  }
  
  .main{
    position: relative;
    padding: 50px 0px;
  }

  section{
    position: relative;
    padding: 70px 17% 60px;
  }

  header.sticky{
    padding: 8px ;
    background: transparent;
    backdrop-filter: blur(35px);
  }


.kashmir-main{
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to left, rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/Kashmir/kashmirhead.jpg);
  background-size: cover;
  background-position: bottom center;
  display: flex;
  align-items: flex-start; 
  padding-top: 18px; 
  margin-top: 18px;
}  

.main-title{
    width: 100%;
    color: var(--bg-color);
    position:relative;
    top: 10vh; 
    left: 5vh;
    display: flex;
    justify-content: end;
}

.Heavenly{
    width: 50%;
    font-size: 5vh;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    font-style: italic;
    position: relative;
    left: 3vh;
    top: 30px;
}

.Kashmir{
    width: 50%;
    color: white;
    font-family: sans-serif;
    font-size:15vh;
    font-weight: bold;
    position: relative;
    right: 30vh; 

}
.main-text{
    width: 100%;
    position:relative;
    top: 20vh;
}

.main-con-icon{
    position: relative;
    right: 10px;
    color: green;
    font-size: large;
}
.main-con{
 height:20vh ;
  width: 100%;
  background: transparent;
  backdrop-filter: blur(5px);
  position: absolute; 
  bottom: 12vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #000000;
}

.main-con a {
    position: relative;
    color: rgb(207, 207, 207);
    font-weight: bold;
}

.main-call{
    position: relative;
    top: 12px;
}

.introduction {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.intro-img {
  flex: 1 1 48%; 
  margin: 10px 0; 
  padding: 0 10px;
}

.intro-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.intro-img img:hover {
  transform: scale(1.1);
}

.intro-img {
  overflow: hidden; 
}

@media (max-width: 768px) {
  .intro-img {
    flex: 1 1 100%; 
    margin-bottom: 20px;
  }
}
  

.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, auto));
    gap: 2rem;
    background-color: #000000;
    padding: 20px;
  }
  
  .footer-box{
    display: grid;
    flex-direction: column;
  }
  
  .footer-box h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--bg-color);
  }
  
  .footer-box a{
    color: #979797;
    margin-bottom: 0.8rem;
    transition: all .50s ease;
    font-size: 13px;
  }
  
  .footer-box a:hover{
    transform: translateX(-5px);
    color: var(--bg-color);
  }
  
  .social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: #ffffff;
    color: var(--main-color);
    font-size: 20px;
    border-radius: 50%;
    margin-right: 8px;
    transition: transform 0.6s;
  }
  
  .social a:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transform: translateX(-4px);
  }
  
  .copyright {
    text-align: center;
    padding: 20px;
    color: #979797;
    font-size: 11px;
    background-color: #000000;
    border-top: 1px solid #ffffff;
}


@media (max-width: 1700px){
  header{
    padding: 18px 8%;
  }
  header.sticky{
    padding: 7px 8%;
  }
  section{
    padding: 50px 8% 40px;
  }
}

@media (max-width: 1200px){
  header{
    padding: 14px 5%;
  }
  header.sticky{
    padding: 7px 5%;
  }
  .main{
    margin-bottom: 180px;
  }
  section{
    padding: 45px 5% 35px;
  }
  :root{
    --h1-font: 4.6rem;
    --h2-font:2.8rem;
    --p-font:15px;
  }
  .main{
    height: 90vh;
  }
}


@media (max-width: 1050px){
  .feature-content{
    gap: 1.5rem;
  }  
  .culture{
    gap: 3rem;
  }  

  #menu-icon{
    display: block;
  }

  .navbar{
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 40px 60px;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    transition: all .50s ease;

  }
  .navbar a{
    display: block;
    color: #0d0d0d;
    padding: 0;
    margin: 0px 0px 40px 0px;
    font-size: 2.2rem;
    font-weight: 400;
  }

  .navbar.open{
   left: 0; 
  }
}

@media (max-width: 800px){
  .culture{
    grid-template-columns: 1fr;
  }
  .newsletter-content{
    grid-template-columns: 1fr;
  }
  .contact-content{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px){
  :root{
    --h1-font: 3.5rem;
    --h2-font: 2.1rem;
  }
  .main{
    height: 85vh;
  }
}

@media (max-width: 450px){
  header{
    padding: 12px 3%;
  }
  header.sticky{
    padding: 7px 3%;
  }
  .main{
      height: 65vh;
      margin-bottom: 150px;
  }
  section{
    padding: 60px 3% 50px;
  }
   
  
}  




@media (max-width: 1200px) {
  .main-title {
    top: 8vh;
    left: 9vh;
  }
  .main-text {
    top: 18vh;
  }
  .Heavenly {
    font-size: 3vh;
    position: relative;
    right: 7vh;
  }
  .Kashmir {
    font-size: 10vh;
    font-weight: bold;
    position: relative;
    right: 20vh; 
  }

}


@media (max-width: 900px) {
    .main-title {
      top: 6vh;
      left: 10vh;
    }
    .main-text {
      top: 16vh;
    }
    .Heavenly {
      font-size: 3vh;
      position: relative;
      left: 8vh; 
    }
    .Kashmir {
      font-size: 10vh;
      font-weight: bold;
      position: relative;
      right: 15vh; 
  
    }
  }

@media (max-width: 800px) {
  .main-title {
    top: 6vh;
    left: 8vh;
  }
  .main-text {
    top: 16vh;
  }
  .Heavenly {
    position: relative;
      left: 1vh;
    font-size: 3vh;
  }
  .Kashmir {
    font-size: 10vh;
    font-weight: bold;
    position: relative;
    right: 20vh; 

  }
}


@media (max-width: 700px) {
    .main-title {
      top: 6vh;
      left: 8vh;
    }
    .main-text {
      top: 16vh;
    }
    .Heavenly {
      position: relative;
      left: 1vh;
      font-size: 3vh;

    }
    .Kashmir {
      font-size: 10vh;
      font-weight: bold;
      position: relative;
      right: 20vh; 
  
    }
  }

@media (max-width: 600px) {
  .main-title {
    top: 5vh;
    left: 9vh;
  }
  .main-text {
    top: 14vh;
  }
  .Heavenly {
    font-size: 2vh;
    position: relative;
    left: 3vh;
  }
  .Kashmir {
    font-size: 6vh;
    font-weight: bold;
    position: relative;
    top: 3vh;
    right: 10vh; 
  }

  .main-con{
    padding-left: 12vh;
  }

}


@media (max-width: 400px) {
    .main-title {
      top: 5vh;
      left: 14vh;
    }
    .main-text {
      top: 14vh;
    }
    .Heavenly {
      font-size: 2vh;
      position: relative;
      left: 6vh;
    }
    .main{
      height: 45vh;
      margin-bottom: 300px;
  }
    .Kashmir {
      font-size: 7vh;
      font-weight: bold;
      position: relative;
      right: 10vh; 
    }
    
  }

  /* Contact From */
  
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #6e5d34;
  font-size: 26px;
}
.app-title p {
 font-size: 0.8rem; 
 color: #8e8888;
}
.app-title span {
  color: white;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #e6e5ee;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.message.select-group {
  display: flex;
  justify-content: space-between;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  /* text-transform: uppercase; */
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control option {
  background-color: #0c0b19;
  color: #f0f0f0;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #e4e3e8;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: var(--text-color);
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}



@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}


